@media only screen and (min-width: 1200px){
  .post-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35vw,1fr));
    gap: 15px;

    position: relative;
  }
  .post-list li{
    margin-bottom: 0px;
  }
  .wrapper{
    max-width: 80%;
  }
  .item {
      background-color: #ccc;
      padding: 20px;
      text-align: center;
  
  }
  .post-link {
    position: absolute;
  }
}

#header_snake  {
  position: absolute;
  display: inline !important;
  width: 113px;
  top: -53px;
  object-fit: contain;
  height: 109px;
  object-position: 100% 250px;
  transition: object-position 0.7s; 
  margin: 0;
  padding: 0;

}

/* @media only screen and (max-width: 1000px) {
  #header_snake {
    position: absolute;
    width: 111px;
    top: -132px;
    object-fit: contain;
    height: 193px;
    object-position: 100% 116px;
    right: 130px;
    left: initial;
  }
} */